<% title "Home page" %>

<div id="brands">
  <h2>Featured brands</h2>
  <ul>
  <% @brands.each do |brand| %>
    <li><%= link_to brand.to_s, brand %></li>
  <% end %>
  </ul>
</div>

<div id="users">
  <h2>Featured users</h2>
  <ul>
  <% @users.each do |user| %>
    <li><%= link_to user.to_s, user %></li>
  <% end %>
  </ul>
</div>