<h1>Forgot Password</h1>

Fill out the form below and instructions to reset your password will be emailed to you:<br />
<br />

<% semantic_form_for :password_resets, :url => password_resets_path, :method => :post do |f| %>
  <%= f.error_messages %>
  <%= f.input :email %>
  <% f.buttons do %>
    <%= f.submit "Reset my password" %>
  <% end %>
<% end %>