<div>
  <span>Par <%= user_profile_link(comment.author) %> -- <%= link_to "[X]", comment_path(comment), :confirm => 'Are you sure?', :method => :delete %></span><br />
  <span>Le <%= comment.created_at %></span><br />
  <span><%=h comment.body%></span><br />
</div>
<hr />