<% title "Edit Comment" %>

<%= render :partial => 'form', :locals => {:comment => @comment} %>

<p>
  <%= link_to "Show", comment_path(@comment) %> |
  <%= link_to "View All", polymorphic_path([@comment.resource, :comments]) %>
</p>
