<% title "New Comment - " + @commentable.to_s %>

<%= render :partial => 'form', :locals => {:comment => @comment, :commentable => @commentable} %>

<p><%= link_to "Back to List", polymorphic_path(@commentable) %></p>
