/* line 4, ../../../app/stylesheets/profile/profile.sass */
#profile-tabs {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #profile-tabs {
  overflow-x: hidden;
}
/* line 6, ../../../app/stylesheets/profile/profile.sass */
#profile-tabs ul {
  display: block;
}
/* line 8, ../../../app/stylesheets/profile/profile.sass */
#profile-tabs ul li {
  display: block;
  font-family: Lucida Grande;
  border-bottom: 1px solid #b1ad69;
  font-size: 1.1em;
  line-height: 2em;
  font-weight: bold;
  padding-left: 1em;
}
/* line 16, ../../../app/stylesheets/profile/profile.sass */
#profile-tabs ul li.selected {
  background-color: #eee;
}
/* line 18, ../../../app/stylesheets/profile/profile.sass */
#profile-tabs ul li.selected a {
  color: #666;
}
/* line 20, ../../../app/stylesheets/profile/profile.sass */
#profile-tabs ul li a {
  color: #ff8800;
  font-weight: normal;
  text-decoration: none;
}
/* line 24, ../../../app/stylesheets/profile/profile.sass */
#profile-tabs ul li a:hover {
  text-decoration: underline;
}

/* line 27, ../../../app/stylesheets/profile/profile.sass */
#profile-main h2, #profile-sidebar h2 {
  font-size: 1.7em;
  font-family: Lucida Grande;
  margin-bottom: 0;
  padding: 0;
  color: #ff8800;
}

/* line 34, ../../../app/stylesheets/profile/profile.sass */
#profile-main {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 510px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #b1ad69;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #profile-main {
  overflow-x: hidden;
}
/* line 37, ../../../app/stylesheets/profile/profile.sass */
#profile-main hr {
  background: #b1ad69;
  color: #b1ad69;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 39, ../../../app/stylesheets/profile/profile.sass */
#profile-main h1 {
  font-size: 2.1em;
  margin-top: 10px;
}
/* line 42, ../../../app/stylesheets/profile/profile.sass */
#profile-main #score-container {
  float: left;
  padding: 0;
  margin: 0 15px;
}
/* line 47, ../../../app/stylesheets/profile/profile.sass */
#profile-main #score-container span {
  display: block;
  line-height: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 53, ../../../app/stylesheets/profile/profile.sass */
#profile-main #score-container span#score {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.8em;
}
/* line 57, ../../../app/stylesheets/profile/profile.sass */
#profile-main #pageviews {
  font-family: Lucida Grande;
  clear: both;
}
/* line 60, ../../../app/stylesheets/profile/profile.sass */
#profile-main #comments-count {
  font-family: Lucida Grande;
}
/* line 62, ../../../app/stylesheets/profile/profile.sass */
#profile-main #profile-pictures {
  border: 1px solid #999;
  float: right;
  margin: 10px;
  margin-bottom: 5px;
  padding: 3px;
}
/* line 68, ../../../app/stylesheets/profile/profile.sass */
#profile-main #profile-pictures a {
  float: right;
  font-size: 0.9em;
  font-family: Lucida Grande;
  font-weight: bold;
}
/* line 73, ../../../app/stylesheets/profile/profile.sass */
#profile-main #profile-pictures img {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
/* line 77, ../../../app/stylesheets/profile/profile.sass */
#profile-main #profile-description {
  margin-top: 30px;
  clear: left;
  text-align: justify;
}
/* line 81, ../../../app/stylesheets/profile/profile.sass */
#profile-main #profile-description #profile-description-links {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 87, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #profile-sidebar {
  overflow-x: hidden;
}
/* line 89, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar hr {
  background: #b1ad69;
  color: #b1ad69;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
}
/* line 92, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar #profile-fans span.fan-wrapper {
  float: left;
  width: 33%;
  margin: 0;
  margin-top: 10px;
}
/* line 97, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar #profile-fans span.fan-wrapper a {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}
/* line 102, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar #profile-fans span.fan-wrapper img {
  margin: 0 auto;
  padding: 2px;
  display: block;
  border: 1px solid #b1ad69;
}
/* line 107, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar #profile-fans a.bottom-links {
  margin-top: 10px;
  float: right;
  clear: both;
}
/* line 113, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar #profile-activity ul {
  margin-bottom: 15px;
}
/* line 115, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar #profile-activity ul li {
  display: block;
  border-bottom: 1px dotted #b1ad69;
  min-height: 20px;
  padding-left: 20px;
  background-image: url(/images/profile-news-feed/comment.png);
  background-repeat: no-repeat;
  background-position: center left;
}
/* line 116, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar #profile-activity ul li .time-ago {
  color: #666;
}
/* line 125, ../../../app/stylesheets/profile/profile.sass */
#profile-sidebar #profile-activity ul li.last {
  border-background: 0;
}
