#profile-main { display: inline; float: left; margin-right: 10px; width: 510px; padding-right: 24px; margin-right: 25px; border-right: 1px solid #b1ad69; }
* html #profile-main { overflow-x: hidden; }

#profile-sidebar { display: inline; float: left; margin-right: 0; width: 230px; }
* html #profile-sidebar { overflow-x: hidden; }
#profile-sidebar hr { background: #b1ad69; color: #b1ad69; clear: both; float: none; width: 100%; height: .1em; margin: 0 0 1.45em; border: none; }
