/* line 6, ../../../app/stylesheets/profile/tags.sass */
#tag-list {
  font-size: 1em;
  line-height: 1.2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 1em;
}
/* line 5, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
#tag-list .xxs, #tag-list .xs, #tag-list .s, #tag-list .l, #tag-list .xl, #tag-list .xxl {
  line-height: 1.2em;
}
/* line 7, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
#tag-list .xxs {
  font-size: 0.5em;
}
/* line 9, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
#tag-list .xs {
  font-size: 0.667em;
}
/* line 11, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
#tag-list .s {
  font-size: 0.75em;
}
/* line 13, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
#tag-list .l {
  font-size: 1.333em;
}
/* line 15, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
#tag-list .xl {
  font-size: 1.5em;
}
/* line 17, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
#tag-list .xxl {
  font-size: 2em;
}
