/* line 8, ../../app/stylesheets/comments.sass */
div.comment {
  margin-bottom: 2em;
}
/* line 10, ../../app/stylesheets/comments.sass */
div.comment .author_picture {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html div.comment .author_picture {
  overflow-x: hidden;
}
/* line 12, ../../app/stylesheets/comments.sass */
div.comment .author_picture img {
  border: 1px solid #666666;
  background-color: white;
  padding: 1px;
}
/* line 16, ../../app/stylesheets/comments.sass */
div.comment .column {
  display: inline;
  float: left;
  margin-right: 0;
  width: 430px;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html div.comment .column {
  overflow-x: hidden;
}
/* line 18, ../../app/stylesheets/comments.sass */
div.comment .column .top {
  border-bottom: 1px solid #bbbbbb;
}
/* line 20, ../../app/stylesheets/comments.sass */
div.comment .column .top span {
  margin: 0;
}
/* line 22, ../../app/stylesheets/comments.sass */
div.comment .column .top span.author_name {
  font-family: 'Lucida Grande', Geneva, Helvetica, sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
}
/* line 26, ../../app/stylesheets/comments.sass */
div.comment .column .top span.timestamp {
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #966;
}
/* line 31, ../../app/stylesheets/comments.sass */
div.comment .column .top span.timestamp:before {
  content: " --  ";
  color: #966;
}
/* line 34, ../../app/stylesheets/comments.sass */
div.comment .column .top span.actions {
  float: right;
}
/* line 36, ../../app/stylesheets/comments.sass */
div.comment .column .body {
  display: block;
  margin-top: 1em;
  text-align: justify;
}
/* line 40, ../../app/stylesheets/comments.sass */
div.comment form#new_comment.comment {
  padding: 0;
  margin: 0;
}
/* line 43, ../../app/stylesheets/comments.sass */
div.comment form#new_comment.comment li {
  padding: 0;
  padding-right: 2px;
}
/* line 46, ../../app/stylesheets/comments.sass */
div.comment form#new_comment.comment textarea {
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 50, ../../app/stylesheets/comments.sass */
div.comment form#new_comment.comment fieldset.buttons {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 1em;
  float: right;
}
/* line 56, ../../app/stylesheets/comments.sass */
div.comment form#new_comment.comment fieldset.buttons ol {
  float: right;
  padding: 0;
  margin: 0;
}
/* line 60, ../../app/stylesheets/comments.sass */
div.comment form#new_comment.comment fieldset.buttons ol input {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 1em;
  color: #264409;
  background: url(/images/icons/tick.png) 5px center no-repeat;
  background-color: white;
  min-height: 20px;
  line-height: 2em;
}
/* line 70, ../../app/stylesheets/comments.sass */
div.comment form#new_comment.comment fieldset.buttons ol input:hover {
  border-color: #264409;
  background-color: #e6efc2;
}
