/* line 1, ../../app/stylesheets/pagination.sass */
.pagination {
  background: white;
  /* self-clearing method: */
}
/* line 3, ../../app/stylesheets/pagination.sass */
.pagination a, .pagination span {
  padding: .2em .5em;
  display: block;
  float: left;
  margin-right: 1px;
}
/* line 8, ../../app/stylesheets/pagination.sass */
.pagination span.disabled {
  color: #999;
  border: 1px solid #DDD;
}
/* line 11, ../../app/stylesheets/pagination.sass */
.pagination span.current {
  font-weight: bold;
  background: #2E6AB1;
  color: white;
  border: 1px solid #2E6AB1;
}
/* line 16, ../../app/stylesheets/pagination.sass */
.pagination a {
  text-decoration: none;
  color: #105CB6;
  border: 1px solid #9AAFE5;
}
/* line 20, ../../app/stylesheets/pagination.sass */
.pagination a:hover, .pagination a:focus {
  color: #003;
  border-color: #003;
}
/* line 23, ../../app/stylesheets/pagination.sass */
.pagination .page_info {
  background: #2E6AB1;
  color: white;
  padding: .4em .6em;
  width: 22em;
  margin-bottom: .3em;
  text-align: center;
}
/* line 30, ../../app/stylesheets/pagination.sass */
.pagination .page_info b {
  color: #003;
  background: #6aa6ed;
  padding: .1em .25em;
}
/* line 36, ../../app/stylesheets/pagination.sass */
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 42, ../../app/stylesheets/pagination.sass */
* html .pagination {
  height: 1%;
}
/* line 44, ../../app/stylesheets/pagination.sass */
*:first-child+html .pagination {
  overflow: hidden;
}

/* line 47, ../../app/stylesheets/pagination.sass */
.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em;
}
/* line 52, ../../app/stylesheets/pagination.sass */
.apple_pagination a, .apple_pagination span {
  padding: .2em .3em;
}
/* line 54, ../../app/stylesheets/pagination.sass */
.apple_pagination span.disabled {
  color: #AAA;
}
/* line 56, ../../app/stylesheets/pagination.sass */
.apple_pagination span.current {
  font-weight: bold;
  background: transparent url(/images/apple-circle.gif) no-repeat 50% 50%;
}
/* line 59, ../../app/stylesheets/pagination.sass */
.apple_pagination a {
  text-decoration: none;
  color: black;
}
/* line 62, ../../app/stylesheets/pagination.sass */
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}

/* line 65, ../../app/stylesheets/pagination.sass */
.flickr_pagination {
  text-align: center;
  padding: .3em;
}
/* line 68, ../../app/stylesheets/pagination.sass */
.flickr_pagination a, .flickr_pagination span {
  padding: .2em .5em;
}
/* line 70, ../../app/stylesheets/pagination.sass */
.flickr_pagination span.disabled {
  color: #AAA;
}
/* line 72, ../../app/stylesheets/pagination.sass */
.flickr_pagination span.current {
  font-weight: bold;
  color: #FF0084;
}
/* line 75, ../../app/stylesheets/pagination.sass */
.flickr_pagination a {
  border: 1px solid #DDDDDD;
  color: #0063DC;
  text-decoration: none;
}
/* line 79, ../../app/stylesheets/pagination.sass */
.flickr_pagination a:hover, .flickr_pagination a:focus {
  border-color: #003366;
  background: #0063DC;
  color: white;
}
/* line 83, ../../app/stylesheets/pagination.sass */
.flickr_pagination .page_info {
  color: #aaa;
  padding-top: .8em;
}
/* line 86, ../../app/stylesheets/pagination.sass */
.flickr_pagination .prev_page, .flickr_pagination .next_page {
  border-width: 2px;
}
/* line 88, ../../app/stylesheets/pagination.sass */
.flickr_pagination .prev_page {
  margin-right: 1em;
}
/* line 90, ../../app/stylesheets/pagination.sass */
.flickr_pagination .next_page {
  margin-left: 1em;
}
