/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_reset.sass */
html {
  font-size: 100.01%;
}

/* line 14, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 44, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_reset.sass */
blockquote:before, q:before,
blockquote:after, q:after {
  content: "";
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_reset.sass */
a img {
  border: none;
}

/* incase an inverted custom gradient isn't specified */

/* line 14, ../../app/stylesheets/partials/_buttons.sass */
a.button, button {
  font-family: "Lucida Grande", Lucida, Arial, sans_serif;
  background: url('/images/button_bg.png?1269779315') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  font-size: 18px;
  line-height: 21.6px;
  padding: 5px 18px;
  border-width: 1px;
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3d3d3d), color-stop(50%, #353535), color-stop(100%, #4f4f4f));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3d3d3d 50%, #353535 50%, #4f4f4f 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
  color: white;
  margin: 0 2px;
  vertical-align: middle;
}
/* line 162, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button::-moz-focus-inner, button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 165, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button:focus, button:focus {
  outline: none;
}
/* line 167, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.disabled, a.button[disabled], button.disabled, button[disabled] {
  opacity: 0.7;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
/* line 172, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.disabled:hover, a.button.disabled:focus, a.button[disabled]:hover, a.button[disabled]:focus, button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus {
  cursor: default;
}
/* line 143, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button:active, button:active {
  padding: 4px 17px;
  border-width: 2px;
}
/* line 146, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.disabled:active, a.button[disabled], button.disabled:active, button[disabled] {
  padding: 5px 18px;
  border-width: 1px;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.disabled:active, a.button.disabled:hover, a.button[disabled]:active, a.button[disabled]:hover, button.disabled:active, button.disabled:hover, button[disabled]:active, button[disabled]:hover {
  background-color: #444444;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #989898), color-stop(10%, #6a6a6a), color-stop(50%, #3d3d3d), color-stop(50%, #353535), color-stop(100%, #4f4f4f));
  background-image: -moz-linear-gradient(top, #989898 0%, #6a6a6a 10%, #3d3d3d 50%, #353535 50%, #4f4f4f 100%);
  border-color: #1e1e1e;
  text-shadow: #040404 0px 1px 1px;
  color: white;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: #3c3c3c;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #909090), color-stop(10%, #626262), color-stop(50%, #353535), color-stop(50%, #2d2d2d), color-stop(100%, #474747));
  background-image: -moz-linear-gradient(top, #909090 0%, #626262 10%, #353535 50%, #2d2d2d 50%, #474747 100%);
  border-color: #161616;
  text-shadow: black 0px 1px 1px;
  color: white;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button:active, button:active {
  background-color: #353535;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #353535), color-stop(30%, #3a3a3a), color-stop(50%, #303030), color-stop(50%, #292929), color-stop(100%, #4a4a4a));
  background-image: -moz-linear-gradient(top, #353535 0%, #3a3a3a 30%, #303030 50%, #292929 50%, #4a4a4a 100%);
  border-color: #0f0f0f;
  text-shadow: black 0px -1px -1px;
  color: white;
}
/* line 19, ../../app/stylesheets/partials/_buttons.sass */
a.button.light, button.light {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, white), color-stop(100%, #cecece));
  background-image: -moz-linear-gradient(top, white 0%, #cecece 100%);
  border-color: #b7b7b7;
  text-shadow: white 0px 1px 1px;
  color: #222222;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.light.disabled:active, a.button.light.disabled:hover, a.button.light[disabled]:active, a.button.light[disabled]:hover, button.light.disabled:active, button.light.disabled:hover, button.light[disabled]:active, button.light[disabled]:hover {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, white), color-stop(100%, #cecece));
  background-image: -moz-linear-gradient(top, white 0%, #cecece 100%);
  border-color: #b7b7b7;
  text-shadow: white 0px 1px 1px;
  color: #222222;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.light:hover, a.button.light:focus, button.light:hover, button.light:focus {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #c6c6c6));
  background-image: -moz-linear-gradient(top, #fbfbfb 0%, #c6c6c6 100%);
  border-color: #afafaf;
  text-shadow: white 0px 1px 1px;
  color: #222222;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.light:active, button.light:active {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #cccccc), color-stop(40%, #d3d3d3), color-stop(85%, #d3d3d3), color-stop(100%, #e5e5e5));
  background-image: -moz-linear-gradient(top, #cccccc 0%, #d3d3d3 40%, #d3d3d3 85%, #e5e5e5 100%);
  border-color: #a8a8a8;
  text-shadow: white 0px -1px -1px;
  color: #222222;
}
/* line 21, ../../app/stylesheets/partials/_buttons.sass */
a.button.matte-blue, button.matte-blue {
  background-color: #0059b7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3680ce), color-stop(100%, #1e4b7a));
  background-image: -moz-linear-gradient(top, #3680ce 0%, #1e4b7a 100%);
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  color: white;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.matte-blue.disabled:active, a.button.matte-blue.disabled:hover, a.button.matte-blue[disabled]:active, a.button.matte-blue[disabled]:hover, button.matte-blue.disabled:active, button.matte-blue.disabled:hover, button.matte-blue[disabled]:active, button.matte-blue[disabled]:hover {
  background-color: #0059b7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3680ce), color-stop(100%, #1e4b7a));
  background-image: -moz-linear-gradient(top, #3680ce 0%, #1e4b7a 100%);
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  color: white;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.matte-blue:hover, a.button.matte-blue:focus, button.matte-blue:hover, button.matte-blue:focus {
  background-color: #0051a8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3077c4), color-stop(100%, #1b436e));
  background-image: -moz-linear-gradient(top, #3077c4 0%, #1b436e 100%);
  border-color: #122d4a;
  text-shadow: #001429 0px 1px 1px;
  color: white;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.matte-blue:active, button.matte-blue:active {
  background-color: #004a98;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #1d4975), color-stop(40%, #205082), color-stop(85%, #205082), color-stop(100%, #27629e));
  background-image: -moz-linear-gradient(top, #1d4975 0%, #205082 40%, #205082 85%, #27629e 100%);
  border-color: #0f253d;
  text-shadow: #000c18 0px -1px -1px;
  color: white;
}
/* line 23, ../../app/stylesheets/partials/_buttons.sass */
a.button.green, button.green {
  background-color: #3ab700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418621), color-stop(50%, #3b7a1e), color-stop(100%, #4fa328));
  background-image: -moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418621 50%, #3b7a1e 50%, #4fa328 100%);
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  color: white;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.green.disabled:active, a.button.green.disabled:hover, a.button.green[disabled]:active, a.button.green[disabled]:hover, button.green.disabled:active, button.green.disabled:hover, button.green[disabled]:active, button.green[disabled]:hover {
  background-color: #3ab700;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #9ee080), color-stop(10%, #66ce36), color-stop(50%, #418621), color-stop(50%, #3b7a1e), color-stop(100%, #4fa328));
  background-image: -moz-linear-gradient(top, #9ee080 0%, #66ce36 10%, #418621 50%, #3b7a1e 50%, #4fa328 100%);
  border-color: #295615;
  text-shadow: #123800 0px 1px 1px;
  color: white;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.green:hover, a.button.green:focus, button.green:hover, button.green:focus {
  background-color: #35a800;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #95dd73), color-stop(10%, #5fc430), color-stop(50%, #3b7a1e), color-stop(50%, #356e1b), color-stop(100%, #499725));
  background-image: -moz-linear-gradient(top, #95dd73 0%, #5fc430 10%, #3b7a1e 50%, #356e1b 50%, #499725 100%);
  border-color: #234a12;
  text-shadow: #0d2900 0px 1px 1px;
  color: white;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.green:active, button.green:active {
  background-color: #309800;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #3b7a1e), color-stop(30%, #3f8220), color-stop(50%, #37711c), color-stop(50%, #316519), color-stop(100%, #4b9a26));
  background-image: -moz-linear-gradient(top, #3b7a1e 0%, #3f8220 30%, #37711c 50%, #316519 50%, #4b9a26 100%);
  border-color: #1d3d0f;
  text-shadow: #081800 0px -1px -1px;
  color: white;
}
/* line 25, ../../app/stylesheets/partials/_buttons.sass */
a.button.blue, button.blue {
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  font-size: 32px;
  line-height: 38.4px;
  padding: 9px 32px;
  border-width: 3px;
  background-color: #0059b7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #80afe0), color-stop(10%, #3680ce), color-stop(50%, #215386), color-stop(50%, #1e4b7a), color-stop(100%, #2864a3));
  background-image: -moz-linear-gradient(top, #80afe0 0%, #3680ce 10%, #215386 50%, #1e4b7a 50%, #2864a3 100%);
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  color: white;
}
/* line 143, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.blue:active, button.blue:active {
  padding: 8px 31px;
  border-width: 4px;
}
/* line 146, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.blue.disabled:active, a.button.blue[disabled], button.blue.disabled:active, button.blue[disabled] {
  padding: 9px 32px;
  border-width: 3px;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.blue.disabled:active, a.button.blue.disabled:hover, a.button.blue[disabled]:active, a.button.blue[disabled]:hover, button.blue.disabled:active, button.blue.disabled:hover, button.blue[disabled]:active, button.blue[disabled]:hover {
  background-color: #0059b7;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #80afe0), color-stop(10%, #3680ce), color-stop(50%, #215386), color-stop(50%, #1e4b7a), color-stop(100%, #2864a3));
  background-image: -moz-linear-gradient(top, #80afe0 0%, #3680ce 10%, #215386 50%, #1e4b7a 50%, #2864a3 100%);
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  color: white;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.blue:hover, a.button.blue:focus, button.blue:hover, button.blue:focus {
  background-color: #0051a8;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #73a6dd), color-stop(10%, #3077c4), color-stop(50%, #1e4a7a), color-stop(50%, #1b436e), color-stop(100%, #255c97));
  background-image: -moz-linear-gradient(top, #73a6dd 0%, #3077c4 10%, #1e4a7a 50%, #1b436e 50%, #255c97 100%);
  border-color: #122d4a;
  text-shadow: #001429 0px 1px 1px;
  color: white;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.blue:active, button.blue:active {
  background-color: #004a98;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #1e4b7a), color-stop(30%, #205082), color-stop(50%, #1c4671), color-stop(50%, #193f65), color-stop(100%, #265f9a));
  background-image: -moz-linear-gradient(top, #1e4b7a 0%, #205082 30%, #1c4671 50%, #193f65 50%, #265f9a 100%);
  border-color: #0f253d;
  text-shadow: #000c18 0px -1px -1px;
  color: white;
}
/* line 28, ../../app/stylesheets/partials/_buttons.sass */
a.button.red, button.red {
  background-color: #b70300;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e08280), color-stop(10%, #ce3936), color-stop(50%, #862321), color-stop(50%, #7a201e), color-stop(100%, #a32b28));
  background-image: -moz-linear-gradient(top, #e08280 0%, #ce3936 10%, #862321 50%, #7a201e 50%, #a32b28 100%);
  border-color: #561615;
  text-shadow: #380100 0px 1px 1px;
  color: white;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.red.disabled:active, a.button.red.disabled:hover, a.button.red[disabled]:active, a.button.red[disabled]:hover, button.red.disabled:active, button.red.disabled:hover, button.red[disabled]:active, button.red[disabled]:hover {
  background-color: #b70300;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e08280), color-stop(10%, #ce3936), color-stop(50%, #862321), color-stop(50%, #7a201e), color-stop(100%, #a32b28));
  background-image: -moz-linear-gradient(top, #e08280 0%, #ce3936 10%, #862321 50%, #7a201e 50%, #a32b28 100%);
  border-color: #561615;
  text-shadow: #380100 0px 1px 1px;
  color: white;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.red:hover, a.button.red:focus, button.red:hover, button.red:focus {
  background-color: #a80300;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dd7573), color-stop(10%, #c43330), color-stop(50%, #7a201e), color-stop(50%, #6e1d1b), color-stop(100%, #972825));
  background-image: -moz-linear-gradient(top, #dd7573 0%, #c43330 10%, #7a201e 50%, #6e1d1b 50%, #972825 100%);
  border-color: #4a1312;
  text-shadow: #290100 0px 1px 1px;
  color: white;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.red:active, button.red:active {
  background-color: #980300;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #7a211e), color-stop(30%, #822320), color-stop(50%, #711e1c), color-stop(50%, #651b19), color-stop(100%, #9a2926));
  background-image: -moz-linear-gradient(top, #7a211e 0%, #822320 30%, #711e1c 50%, #651b19 50%, #9a2926 100%);
  border-color: #3d100f;
  text-shadow: #180000 0px -1px -1px;
  color: white;
}
/* line 30, ../../app/stylesheets/partials/_buttons.sass */
a.button.yellow, button.yellow {
  background-color: #e6e600;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ebeba4), color-stop(10%, #dbdb58), color-stop(50%, #b1b127), color-stop(50%, #a4a424), color-stop(100%, #cece2d));
  background-image: -moz-linear-gradient(top, #ebeba4 0%, #dbdb58 10%, #b1b127 50%, #a4a424 50%, #cece2d 100%);
  border-color: #7e7e1b;
  text-shadow: #676600 0px 1px 1px;
  color: white;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.yellow.disabled:active, a.button.yellow.disabled:hover, a.button.yellow[disabled]:active, a.button.yellow[disabled]:hover, button.yellow.disabled:active, button.yellow.disabled:hover, button.yellow[disabled]:active, button.yellow[disabled]:hover {
  background-color: #e6e600;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ebeba4), color-stop(10%, #dbdb58), color-stop(50%, #b1b127), color-stop(50%, #a4a424), color-stop(100%, #cece2d));
  background-image: -moz-linear-gradient(top, #ebeba4 0%, #dbdb58 10%, #b1b127 50%, #a4a424 50%, #cece2d 100%);
  border-color: #7e7e1b;
  text-shadow: #676600 0px 1px 1px;
  color: white;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.yellow:hover, a.button.yellow:focus, button.yellow:hover, button.yellow:focus {
  background-color: #d6d600;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e8e896), color-stop(10%, #d8d84a), color-stop(50%, #a4a424), color-stop(50%, #979721), color-stop(100%, #c1c12a));
  background-image: -moz-linear-gradient(top, #e8e896 0%, #d8d84a 10%, #a4a424 50%, #979721 50%, #c1c12a 100%);
  border-color: #717118;
  text-shadow: #575600 0px 1px 1px;
  color: white;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.yellow:active, button.yellow:active {
  background-color: #c8c800;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #a4a423), color-stop(30%, #adad25), color-stop(50%, #9c9c22), color-stop(50%, #8f8f1f), color-stop(100%, #c6c62b));
  background-image: -moz-linear-gradient(top, #a4a423 0%, #adad25 30%, #9c9c22 50%, #8f8f1f 50%, #c6c62b 100%);
  border-color: #656516;
  text-shadow: #484900 0px -1px -1px;
  color: white;
}
/* line 32, ../../app/stylesheets/partials/_buttons.sass */
a.button.custom, button.custom {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 30px;
  line-height: 36px;
  padding: 8px 30px;
  border-width: 1px;
  padding: 2px 12px;
  border-width: 2px;
}
/* line 143, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.custom:active, button.custom:active {
  padding: 7px 29px;
  border-width: 2px;
}
/* line 146, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.custom.disabled:active, a.button.custom[disabled], button.custom.disabled:active, button.custom[disabled] {
  padding: 8px 30px;
  border-width: 1px;
}
/* line 143, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.custom:active, button.custom:active {
  padding: 1px 11px;
  border-width: 3px;
}
/* line 146, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.custom.disabled:active, a.button.custom[disabled], button.custom.disabled:active, button.custom[disabled] {
  padding: 2px 12px;
  border-width: 2px;
}
/* line 35, ../../app/stylesheets/partials/_buttons.sass */
a.button.heart, button.heart {
  background-color: #c10200;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #e72926), color-stop(100%, #7b0f0d));
  background-image: -moz-radial-gradient(50% 10%, circle, #e72926 0%, #7b0f0d 30px);
  border-color: #690d0b;
  text-shadow: #420100 0px 1px 1px;
  color: white;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.heart.disabled:active, a.button.heart.disabled:hover, a.button.heart[disabled]:active, a.button.heart[disabled]:hover, button.heart.disabled:active, button.heart.disabled:hover, button.heart[disabled]:active, button.heart[disabled]:hover {
  background-color: #c10200;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #e72926), color-stop(100%, #7b0f0d));
  background-image: -moz-radial-gradient(50% 10%, circle, #e72926 0%, #7b0f0d 30px);
  border-color: #690d0b;
  text-shadow: #420100 0px 1px 1px;
  color: white;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.heart:hover, a.button.heart:focus, button.heart:hover, button.heart:focus {
  background-color: #b10200;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #e51b18), color-stop(100%, #6d0d0c));
  background-image: -moz-radial-gradient(50% 10%, circle, #e51b18 0%, #6d0d0c 30px);
  border-color: #5b0b0a;
  text-shadow: #310100 0px 1px 1px;
  color: white;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.heart:active, button.heart:active {
  background-color: #a20200;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #a41512), color-stop(100%, #d11b17));
  background-image: -moz-radial-gradient(50% 10%, circle, #a41512 0%, #d11b17 30px);
  border-color: #4d0908;
  text-shadow: #220000 0px -1px -1px;
  color: white;
}
/* line 37, ../../app/stylesheets/partials/_buttons.sass */
a.button.arrow, button.arrow {
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  font-size: 30px;
  line-height: 36px;
  padding: 8px 30px;
  border-width: 1px;
  background-color: white;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, white), color-stop(100%, #c1c1c1));
  background-image: -moz-radial-gradient(50% 10%, circle, white 0%, #c1c1c1 30px);
  border-color: #b7b7b7;
  text-shadow: white 0px 1px 1px;
  color: #222222;
  padding: 2px 6px;
  border-width: 2px;
}
/* line 143, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.arrow:active, button.arrow:active {
  padding: 7px 29px;
  border-width: 2px;
}
/* line 146, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.arrow.disabled:active, a.button.arrow[disabled], button.arrow.disabled:active, button.arrow[disabled] {
  padding: 8px 30px;
  border-width: 1px;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.arrow.disabled:active, a.button.arrow.disabled:hover, a.button.arrow[disabled]:active, a.button.arrow[disabled]:hover, button.arrow.disabled:active, button.arrow.disabled:hover, button.arrow[disabled]:active, button.arrow[disabled]:hover {
  background-color: white;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, white), color-stop(100%, #c1c1c1));
  background-image: -moz-radial-gradient(50% 10%, circle, white 0%, #c1c1c1 30px);
  border-color: #b7b7b7;
  text-shadow: white 0px 1px 1px;
  color: #222222;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.arrow:hover, a.button.arrow:focus, button.arrow:hover, button.arrow:focus {
  background-color: white;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #fbfbfb), color-stop(100%, #b9b9b9));
  background-image: -moz-radial-gradient(50% 10%, circle, #fbfbfb 0%, #b9b9b9 30px);
  border-color: #afafaf;
  text-shadow: white 0px 1px 1px;
  color: #222222;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.arrow:active, button.arrow:active {
  background-color: white;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #d9d9d9), color-stop(100%, #f2f2f2));
  background-image: -moz-radial-gradient(50% 10%, circle, #d9d9d9 0%, #f2f2f2 30px);
  border-color: #a8a8a8;
  text-shadow: white 0px -1px -1px;
  color: #222222;
}
/* line 143, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.arrow:active, button.arrow:active {
  padding: 1px 5px;
  border-width: 3px;
}
/* line 146, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.arrow.disabled:active, a.button.arrow[disabled], button.arrow.disabled:active, button.arrow[disabled] {
  padding: 2px 6px;
  border-width: 2px;
}
/* line 41, ../../app/stylesheets/partials/_buttons.sass */
a.button.spade, button.spade {
  background-color: #0059b7;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #3680ce), color-stop(100%, #193e66));
  background-image: -moz-radial-gradient(50% 10%, circle, #3680ce 0%, #193e66 30px);
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  color: white;
  padding: 2px 8px;
  border-width: 2px;
}
/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.spade.disabled:active, a.button.spade.disabled:hover, a.button.spade[disabled]:active, a.button.spade[disabled]:hover, button.spade.disabled:active, button.spade.disabled:hover, button.spade[disabled]:active, button.spade[disabled]:hover {
  background-color: #0059b7;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #3680ce), color-stop(100%, #193e66));
  background-image: -moz-radial-gradient(50% 10%, circle, #3680ce 0%, #193e66 30px);
  border-color: #153456;
  text-shadow: #001b38 0px 1px 1px;
  color: white;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.spade:hover, a.button.spade:focus, button.spade:hover, button.spade:focus {
  background-color: #0051a8;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #3077c4), color-stop(100%, #16375a));
  background-image: -moz-radial-gradient(50% 10%, circle, #3077c4 0%, #16375a 30px);
  border-color: #122d4a;
  text-shadow: #001429 0px 1px 1px;
  color: white;
}
/* line 31, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.spade:active, button.spade:active {
  background-color: #004a98;
  background-image: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 30, color-stop(0%, #22558a), color-stop(100%, #2c6eb3));
  background-image: -moz-radial-gradient(50% 10%, circle, #22558a 0%, #2c6eb3 30px);
  border-color: #0f253d;
  text-shadow: #000c18 0px -1px -1px;
  color: white;
}
/* line 143, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.spade:active, button.spade:active {
  padding: 1px 7px;
  border-width: 3px;
}
/* line 146, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-0.4.1/lib/sass/_fancy_buttons.sass */
a.button.spade.disabled:active, a.button.spade[disabled], button.spade.disabled:active, button.spade[disabled] {
  padding: 2px 8px;
  border-width: 2px;
}

/* line 3, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic li {
  padding: 10px 0px;
}
/* line 6, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic li li {
  padding: 0;
}
/* line 11, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic fieldset {
  background: #eee;
  margin-top: 20px;
}
/* line 16, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic li fieldset {
  padding: 0;
}
/* line 21, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic legend, form.formtastic label {
  color: #333;
}
/* line 24, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic label, form.formtastic .label {
  padding-bottom: 5px;
}
/* line 27, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic label abbr, form.formtastic .label abbr {
  color: #f00;
}
/* line 29, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic label {
  line-height: 1.4em;
  font-size: 13px;
}
/* line 33, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic legend span {
  font-size: 1.4em;
  line-height: 1em;
}
/* line 37, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic legend span.label {
  font-size: 1em;
}
/* line 42, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic select {
  padding: 3px;
}
/* line 44, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: 14px;
}
/* line 47, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic textarea, form.formtastic input {
  border: 1px solid #999;
  padding: 6px 8px;
  line-height: 100%;
}
/* line 55, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic .date li, form.formtastic .time li, form.formtastic .datetime li {
  margin: 0 0.3em 0 0;
}
/* line 63, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic #errorExplanation li {
  margin-left: 15px;
}
/* line 65, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic form p, form.formtastic .errors {
  padding: 3px 0px;
}
/* line 68, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic .required input, form.formtastic .required textarea, form.formtastic .required select {
  background-color: #fff;
}
/* line 71, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic .error input, form.formtastic .error textarea, form.formtastic .error select {
  background-color: #fcc;
  border: 1px solid #f66;
}
/* line 75, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic .optional input, form.formtastic .optional textarea, form.formtastic .optional select {
  background-color: #fff;
}
/* line 77, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic .errors {
  color: #a00;
}
/* line 79, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic .errors li {
  margin-left: 1.2em;
}
/* line 81, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic p.inline-errors {
  color: #f00;
}
/* line 83, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic p.inline-hints {
  color: #777;
}
/* line 88, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic .buttons {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
}
/* line 92, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic .buttons li {
  padding-right: 0.5em;
}
/* line 94, ../../app/stylesheets/partials/_skintastic.sass */
form.formtastic .buttons input {
  border: 1px solid #999;
}

/* line 43, ../../app/stylesheets/screen.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  background-color: #eeeeee;
}
/* line 58, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* line 63, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h1 img {
  margin: 0;
}
/* line 65, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 69, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* line 74, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 79, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
/* line 84, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
/* line 88, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
/* line 90, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p {
  margin: 0 0 1.5em;
}
/* line 92, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 96, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 100, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp a {
  text-decoration: underline;
  color: #000099;
}
/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:visited {
  color: #000066;
}
/* line 15, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:focus {
  color: black;
}
/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:hover {
  color: black;
}
/* line 21, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
body.bp a:active {
  color: #cc0099;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
/* line 107, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp strong {
  font-weight: bold;
}
/* line 109, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp em {
  font-style: italic;
}
/* line 111, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
/* line 114, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp sup, body.bp sub {
  line-height: 0;
}
/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666;
}
/* line 118, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 121, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp del {
  color: #666;
}
/* line 123, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 126, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp pre, body.bp code, body.bp tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
/* line 129, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp li ul, body.bp li ol {
  margin: 0;
}
/* line 131, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
/* line 134, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ul {
  list-style-type: disc;
}
/* line 136, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp ol {
  list-style-type: decimal;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl {
  margin: 0 0 1.5em 0;
}
/* line 140, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dl dt {
  font-weight: bold;
}
/* line 142, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp dd {
  margin-left: 1.5em;
}
/* line 144, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 147, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th {
  font-weight: bold;
}
/* line 149, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp thead th {
  background: #c3d9ff;
}
/* line 151, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
/* line 153, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tr.even td {
  background: #e5ecf9;
}
/* line 155, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp tfoot {
  font-style: italic;
}
/* line 157, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp caption {
  background: #eee;
}
/* line 159, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .quiet {
  color: #666666;
}
/* line 161, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_typography.sass */
body.bp .loud {
  color: #111111;
}
/* line 446, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li label, body.bp li legend span.label {
  font-weight: bold;
}
/* line 449, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li li label {
  font-weight: normal;
}
/* line 136, ../../app/stylesheets/partials/_formtastic.sass */
body.bp ul, body.bp ol, body.bp legend, body.bp p {
  margin: 0;
  padding: 0;
}
/* line 139, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 145, ../../app/stylesheets/partials/_formtastic.sass */
body.bp fieldset {
  display: block;
  *display: inline-block;
}
/* line 93, ../../app/stylesheets/partials/_formtastic.sass */
body.bp fieldset:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 149, ../../app/stylesheets/partials/_formtastic.sass */
body.bp abbr, body.bp acronym {
  border: 0;
  font-variant: normal;
  font-weight: normal;
}
/* line 154, ../../app/stylesheets/partials/_formtastic.sass */
body.bp ol, body.bp ul {
  list-style: none;
}
/* line 157, ../../app/stylesheets/partials/_formtastic.sass */
body.bp label {
  display: block;
  *display: inline-block;
}
/* line 93, ../../app/stylesheets/partials/_formtastic.sass */
body.bp label:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 161, ../../app/stylesheets/partials/_formtastic.sass */
body.bp input, body.bp textarea {
  vertical-align: middle;
}
/* line 165, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .check_boxes input, body.bp .radio input {
  margin: 0;
}
/* line 167, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .check_boxes label, body.bp .radio label {
  cursor: pointer;
}
/* line 170, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .hidden {
  display: none;
}
/* line 174, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .date li, body.bp .time li, body.bp .datetime li {
  float: left;
  width: auto;
  clear: none;
}
/* line 178, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .date label, body.bp .time label, body.bp .datetime label {
  display: none;
  width: auto;
}
/* line 181, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .date input, body.bp .time input, body.bp .datetime input {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 186, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .errors {
  list-style: square;
}
/* line 188, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .errors li {
  padding: 0;
  border: none;
  display: list-item;
  float: none;
  clear: both;
}
/* line 194, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .inputs {
  z-index: 99;
}
/* line 197, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .buttons li {
  float: left;
}
/* line 200, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li {
  *display: inline-block;
  display: block;
}
/* line 93, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 203, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li fieldset {
  border: none;
  position: relative;
  margin-top: 0px;
}
/* line 207, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li legend {
  display: block;
  margin-bottom: 0;
}
/* line 210, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li .label {
  display: block;
  clear: both;
  background: transparent;
}
/* line 215, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li ol {
  float: left;
  margin: 0;
}
/* line 218, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li ol li {
  padding: 0;
  border: 0;
  display: inline;
}
/* line 310, ../../app/stylesheets/partials/_formtastic.sass */
body.bp fieldset {
  width: 100%;
}
/* line 312, ../../app/stylesheets/partials/_formtastic.sass */
body.bp label {
  float: left;
  width: 18%;
  text-align: left;
  padding-left: 2%;
}
/* line 318, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li ol {
  padding: 0 8% 0 20%;
}
/* line 321, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li fieldset legend, body.bp li fieldset legend .label {
  display: block;
}
/* line 323, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li fieldset legend {
  width: 18%;
  text-align: left;
  display: inline;
  float: left;
  clear: none;
  padding-left: 2%;
  width: 98%;
}
/* line 326, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li fieldset .label {
  position: absolute;
  width: 18%;
  top: 0px;
  left: 2%;
}
/* line 334, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li fieldset label {
  padding-left: 0;
}
/* line 336, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li fieldset label, body.bp li fieldset input {
  width: auto;
  display: inline;
  clear: none;
  text-align: left;
}
/* line 341, ../../app/stylesheets/partials/_formtastic.sass */
body.bp li fieldset select {
  padding: 0;
  clear: both;
  display: block;
}
/* line 345, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .inline-hints, body.bp .inline-errors, body.bp .errors {
  margin: 0 0 0 20%;
}
/* line 347, ../../app/stylesheets/partials/_formtastic.sass */
body.bp input, body.bp textarea {
  width: 72%;
}
/* line 349, ../../app/stylesheets/partials/_formtastic.sass */
body.bp select {
  width: auto;
}
/* line 355, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .checkbox li, body.bp .radio li {
  display: block;
  clear: both;
}
/* line 358, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .checkbox input, body.bp .radio input {
  border: none;
}
/* line 360, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .buttons {
  padding-left: 20%;
  width: 80%;
}
/* line 363, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .buttons input {
  width: auto;
}
/* line 368, ../../app/stylesheets/partials/_formtastic.sass */
body.bp .buttons li {
  width: auto;
  float: left;
  display: inline;
}
/* line 379, ../../app/stylesheets/partials/_formtastic.sass */
body.bp #errorExplanation {
  margin-left: 20%;
  width: 72%;
}
/* line 48, ../../app/stylesheets/screen.sass */
body.bp a {
  text-decoration: none;
}
/* line 50, ../../app/stylesheets/screen.sass */
body.bp a:hover {
  text-decoration: underline;
}
/* line 52, ../../app/stylesheets/screen.sass */
body.bp #container {
  width: 950px;
  margin: 0 auto;
  *display: inline-block;
}
/* line 93, ../../app/stylesheets/partials/_formtastic.sass */
body.bp #container:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 54, ../../app/stylesheets/screen.sass */
body.bp #footer, body.bp #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html body.bp #footer, * html body.bp #content {
  overflow-x: hidden;
}

/* line 58, ../../app/stylesheets/screen.sass */
#topbar {
  width: 100%;
  background-color: #471045;
}
/* line 61, ../../app/stylesheets/screen.sass */
#topbar a {
  color: #eeeeee;
}
/* line 63, ../../app/stylesheets/screen.sass */
#topbar #header-wrap {
  width: 950px;
  margin: 0 auto;
  *display: inline-block;
}
/* line 93, ../../app/stylesheets/partials/_formtastic.sass */
#topbar #header-wrap:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 65, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 101, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #topbar #header-wrap #header {
  overflow-x: hidden;
}
/* line 67, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header #search {
  float: right;
  clear: both;
  margin-top: 15px;
}
/* line 21, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header #main_navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}
/* line 27, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header #main_navigation ul li {
  float: left;
  margin: 0 1em 0 0;
}
/* line 30, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header #main_navigation ul li a {
  text-decoration: none;
  display: block;
  width: 6em;
  padding: 0 0.5em;
  font-weight: bold;
  border-bottom: 0.5em solid #eeeeee;
  color: #eeeeee;
}
/* line 38, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header #main_navigation ul li a:hover, #topbar #header-wrap #header #main_navigation ul li a.current {
  color: #aeaeae;
  border-color: #aeaeae;
}
/* line 73, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header #user_login_box {
  margin-top: 10px;
  float: right;
  color: white;
}
/* line 77, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header #user_login_box a {
  color: white;
}
/* line 79, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header #user_login_box a:hover {
  color: yellow;
}
/* line 81, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header h1 {
  display: inline;
  font-size: 6em;
}
/* line 84, ../../app/stylesheets/screen.sass */
#topbar #header-wrap #header h1 a {
  text-decoration: none;
}

/* line 87, ../../app/stylesheets/screen.sass */
#content {
  border: 1px solid #b1ad69;
  background-color: white;
  padding: 10px;
  height: 100%;
}

/* line 94, ../../app/stylesheets/screen.sass */
#advertising {
  width: 950px;
  margin: 0 auto;
  *display: inline-block;
  margin: 30px auto;
}
/* line 93, ../../app/stylesheets/partials/_formtastic.sass */
#advertising:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 97, ../../app/stylesheets/screen.sass */
#advertising img {
  display: block;
  margin: 0 auto;
}
