<% content_for :profile_tabs do -%>
<%= user_tabs('Favorite brands') %>
<% end -%>
<% content_for :profile_main do -%>
<% stylesheet('pagination', 'vcards/brands') %>
<%= user_title 'Favorite brands' %>
<%= will_paginate @favorite_brands, :id => 'main-pagination' %>
<hr />
<div id="favorites-list">
  <% for favorite in @favorite_brands %>
  <% brand = favorite.votable %>
    <%= render :partial => 'brands/vcard', :locals => {:brand => favorite.votable, :custom_infos => time_ago_in_words(favorite.updated_at) + ' ago'} %>
  <% end -%>
</div>
<% end -%>