#brands-wrapper { display: inline; float: left; margin-right: 10px; width: 630px; padding-right: 24px; margin-right: 25px; border-right: 1px solid #b1ad69; }
* html #brands-wrapper { overflow-x: hidden; }

#brands-search { margin-bottom: 40px; }

#brands-taglist { display: inline; float: left; margin-right: 10px; width: 150px; }
* html #brands-taglist { overflow-x: hidden; }
#brands-taglist ul { display: block; }
#brands-taglist ul li { display: block; font-family: Lucida Grande; border-bottom: 1px solid #b1ad69; font-size: 1.1em; line-height: 2em; font-weight: bold; padding-left: 1em; }
#brands-taglist ul li a { color: #ff8800; font-weight: normal; text-decoration: none; }
#brands-taglist ul li a:hover { text-decoration: underline; }

#brands-list { display: inline; float: left; margin-right: 10px; width: 390px; padding-left: 40px; }
* html #brands-list { overflow-x: hidden; }
#brands-list div.brand { overflow: hidden; display: inline-block; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #b1ad69; }
#brands-list div.brand { display: block; }
#brands-list div.brand span.brand-picture { margin: 0 10px 0 0; padding-top: 0; float: left; border: 1px solid black; }
#brands-list div.brand h3 { display: block; padding: 0; margin: 0; }
#brands-list div.brand span.score { padding: 0; margin: 0; }

#recommendations { display: inline; float: left; margin-right: 0; width: 230px; }
* html #recommendations { overflow-x: hidden; }
