/* line 6, ../../../app/stylesheets/brands/index.sass */
#brands-left-column {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 670px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #bbbbbb;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #brands-left-column {
  overflow-x: hidden;
}

/* line 10, ../../../app/stylesheets/brands/index.sass */
#brands-search {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  margin-bottom: 2em;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #brands-search {
  overflow-x: hidden;
}

/* line 15, ../../../app/stylesheets/brands/index.sass */
#brands-taglist {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #bbbbbb;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #brands-taglist {
  overflow-x: hidden;
}
/* line 18, ../../../app/stylesheets/brands/index.sass */
#brands-taglist ul {
  display: block;
  margin: 0;
  padding-left: 0;
}
/* line 22, ../../../app/stylesheets/brands/index.sass */
#brands-taglist ul li {
  display: block;
  font-family: Lucida Grande;
  border-bottom: 1px solid #bbbbbb;
  font-size: 1.1em;
  padding-left: 1em;
  line-height: 2em;
  font-weight: bold;
}
/* line 30, ../../../app/stylesheets/brands/index.sass */
#brands-taglist ul li a {
  color: #ff8800;
  font-weight: normal;
  text-decoration: none;
}
/* line 34, ../../../app/stylesheets/brands/index.sass */
#brands-taglist ul li a:hover {
  text-decoration: underline;
}

/* line 37, ../../../app/stylesheets/brands/index.sass */
#brands-list {
  display: inline;
  float: left;
  margin-right: 0;
  width: 430px;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #brands-list {
  overflow-x: hidden;
}
/* line 39, ../../../app/stylesheets/brands/index.sass */
#brands-list div.brand {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}
/* line 5, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
#brands-list div.brand {
  display: block;
}
/* line 44, ../../../app/stylesheets/brands/index.sass */
#brands-list div.brand span.brand-picture {
  margin: 0 10px 0 0;
  padding-top: 0;
  float: left;
  border: 1px solid black;
}
/* line 49, ../../../app/stylesheets/brands/index.sass */
#brands-list div.brand h3 {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 53, ../../../app/stylesheets/brands/index.sass */
#brands-list div.brand span.score {
  padding: 0;
  margin: 0;
}

/* line 57, ../../../app/stylesheets/brands/index.sass */
#recommendations {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.8.7-p174/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #recommendations {
  overflow-x: hidden;
}
