/* line 5, ../../../app/stylesheets/brands/show.sass */
#content {
  background-color: #eeeeee;
  border: none;
}

/* line 9, ../../../app/stylesheets/brands/show.sass */
#brand-tabs {
  width: 951px;
  height: 35px;
  padding: 0;
  margin: 0;
  border-right: 1px solid #b1ad69;
  border-bottom: 1px solid #b1ad69;
}
/* line 17, ../../../app/stylesheets/brands/show.sass */
#brand-tabs ul {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  height: 35px;
}
/* line 23, ../../../app/stylesheets/brands/show.sass */
#brand-tabs ul li {
  display: block;
  float: left;
  font-family: Lucida Grande;
  font-size: 1.2em;
  margin: 0;
  margin-bottom: -1px;
  height: 34px;
  line-height: 34px;
  font-weight: bold;
  padding: 0 1em;
  background-color: #eeeeee;
  border-left: 1px solid #b1ad69;
  border-top: 1px solid #b1ad69;
}
/* line 37, ../../../app/stylesheets/brands/show.sass */
#brand-tabs ul li.selected {
  background-color: white;
  border-bottom: 1px solid white;
}
/* line 40, ../../../app/stylesheets/brands/show.sass */
#brand-tabs ul li a {
  color: #ff8800;
  display: block;
  font-weight: normal;
  text-decoration: none;
}
/* line 45, ../../../app/stylesheets/brands/show.sass */
#brand-tabs ul li a:hover {
  text-decoration: underline;
}

/* line 48, ../../../app/stylesheets/brands/show.sass */
#brand-container {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #b1ad69;
  border-top: none;
}
/* line 101, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.0.pre8/frameworks/blueprint/stylesheets/blueprint/_grid.sass */
* html #brand-container {
  overflow-x: hidden;
}
/* line 55, ../../../app/stylesheets/brands/show.sass */
#brand-container h1 {
  margin: 15px 0;
}
/* line 57, ../../../app/stylesheets/brands/show.sass */
#brand-container #score-container {
  float: left;
  padding: 0;
  margin: 0 15px;
}
/* line 62, ../../../app/stylesheets/brands/show.sass */
#brand-container #score-container span {
  display: block;
  line-height: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
}
/* line 68, ../../../app/stylesheets/brands/show.sass */
#brand-container #score-container span#score {
  font-size: 1.8em;
  line-height: 1.8em;
}
