<h2>Account settings</h2>
<ul>
  <li><%= link_to 'Edit my profile >>', edit_profile_account_path %></li>
  <li><%= link_to 'Change my email >>', edit_email_account_path %></li>
  <li><%= link_to 'Change my password >>', edit_password_account_path %></li>
</ul>