<% content_for :profile_tabs do -%>
<%= brand_tabs('Fans') %>
<% end -%>
<% stylesheet('profile/fans', 'vcards/users', 'pagination') 
%>
<%= brand_title 'Fans' %>
<%= will_paginate @votes, :id => 'main-pagination' %>
<hr />
<div id="fan-list">
  <% for vote in @votes %>
    <%= render :partial => 'users/vcard', :locals => {:user => vote.voter, :custom_infos => 'Became fan ' + time_ago_in_words(vote.updated_at) + ' ago' } %>
  <% end -%>
</div>